body {
 /* padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;*/
}
.smaller {
	font-size: 10px;
}
 
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}





/*.logo{
  /*display: block;
  margin:auto;
  width: 35%;
  height:auto;*/
  
  
 
.cover{
width:75%;
margin:auto;
display:block;

}

.text{
  color: gray;
  margin: auto;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  font-weight: 200;
  
}
.text2 {
	 color: gray;
  margin: auto;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  font-weight: 200;
  margin-top: 70px;
}
.textTitle {
	color: gray;
  margin: auto;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  font-weight: 300;
}
.bottomRow {
	display: flex;
	margin-top: 0;
	padding-bottom: 50px;
	margin-bottom: 80px;
	width: 100%;
	padding-right:0;
	padding-left:0;
}
.container {
}
.lowerImage {
	/*width: 426.67px;*/
	height: 240px;
}
.topPhoto {
	width: 100%;
	height: 100%;
}
body {
 width: auto;
	margin: 0;
}
.header {
	display: flex;
	justify-content: space-around;
	background: #FFFFFF; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,#e2e2e2,#FFFFFF,#e2e2e2);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left, #e2e2e2,#FFFFFF,#e2e2e2);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,#e2e2e2,#FFFFFF,#e2e2e2);
  /* Standard syntax */
  background: linear-gradient(to right, #e2e2e2,#FFFFFF,#e2e2e2); 
}
.muffins {
	width: 100%;
	height: 100%;
}
.freshApps {
	width: 100%;
	height: 100%;
}
.buycicle {
	width: 100%;
	height: 100%;
}
.footer {
	display: flex;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	color: #696969;
	border-top: 4px solid #d3d3d3;
	padding-top: 40px;
	margin-top: 85px;
}
.featured {
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Lato', sans-serif;
	color: #696969;
	font-size: 60px;
	font-weight: initial;
}
.lowerTitle {
	font-family: 'Lato', sans-serif;
	color: #62d85e;
	font-weight: inherit;
	text-align: center;
	font-size: 40px;
	margin-top: 20px;
}
.description {
	font-family: 'Lato', sans-serif;
	color: #696969;
	text-align: center;
	font-size: 25px;
}
a {
	text-decoration: none;
	color: #fb2e03;
}
.topPhoto {
}

.gotham {
	font-family: 'Oswald', sans-serif;
	color: #696969;
	font-size: 90px;
	font-weight: initial;
	margin-bottom: 0;
}
.designs {
	font-family: 'Lato', sans-serif;
	color: #696969;
	font-weight: initial;
	display: flex;
	justify-content: flex-end;
	font-size: 35px;
	margin-top: 0;
	margin-bottom: 0;
}

.topLeftLogo {
	height: 150px;
	width: 150px;
	margin-top: 65px;
}
.logo {
	height: 150px;
	width: 150px;
}
.topRightLogo {
	padding-top: 50px;
	height: 60%;
	width: 60%;
}
.bottomGradient {
	padding-top: 80px;
	display: flex;
	background: #FFFFFF; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,#e2e2e2,#FFFFFF,#e2e2e2);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left, #e2e2e2,#FFFFFF,#e2e2e2);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,#e2e2e2,#FFFFFF,#e2e2e2);
  /* Standard syntax */
  background: linear-gradient(to right, #e2e2e2,#FFFFFF,#e2e2e2); 
}
.copyright {
	padding-top:10px;
	padding-bottom:10px;
	font-family: 'Lato', sans-serif;
	color: #999999;
}
.aboutLogo {
	height:20%;
	width: 20%;
}
.aboutGradient {
	background: #FFFFFF; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,#efefef,#FFFFFF,#efefef);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left, #efefef,#FFFFFF,#efefef);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,#efefef,#FFFFFF,#efefef);
  /* Standard syntax */
  background: linear-gradient(to right, #efefef,#FFFFFF,#efefef); 	
}
.row {
	margin: 0;
}
.name{
	text-align: right;
}
.logo1{
	width: 50px;
	height: auto;
}
.team{
	background-color:gray;
}
.testimonial{
	color: red;
}